
.profiltete {
    background-color: darkcyan;
    color: white;
    font-weight: bold;
    font-size: medium;
    font-family:Rockwell;
}
.profilcorps {
    background-color: darkcyan;
    color: white;
    font-weight: bold;
    font-size: medium;
    font-family: Rockwell;
}

.mess {
    background-color: Chartreuse;
    color: darkgoldenrod;
    font-weight: bold;
    font-size: medium;
    font-family: Rockwell;
}

.likes {
    background-color: lightgreen;
    color: darkgoldenrod;
    font-weight: bold;
    font-size: medium;
    font-family: Rockwell;
}

